/*
 * The following selectors are not meant to be modified.
 * They establish the box-sizing property for the entire HTML document.
 * For more information, refer to the provided links.
 */
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Styling for the body */
body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans 3", sans-serif;
}

/* Styling for the navigation span */
nav span {
  font-family: "Bungee", sans-serif;
}

/* Styling for the main content */
main {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f1ec;
  margin-bottom: 50px;
}